html,body
{
	margin:0px;
	padding:0px;
}
/*red
E1574C

green
3DB29F

yellow
27A6D1

blue
F0C75E*/

a
{
	text-decoration: none;
}
body
{
	background-color:#EFEFEF;
}

h1,h2,h3,h4
{
	text-align: center;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	/*background-color: teal;*/
	color:white;
	padding-top:25px;
	padding-bottom: 25px;
	background-color: rgba(50,50,50,.15);
	margin:0px;

}

#header
{
	background-color: #E1574C;
	
	padding-top:40px;
	padding-bottom:40px;
	position: fixed;
	width:100%;
	top:0px;
	z-index:100;
}

.game
{
	display: block;
	background-color: #E1574C;
	width:94%;
	margin:0px auto;
	margin-top:10px;
}

#options ul
{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: large;
	list-style-type: none;
	margin:0px;
	padding:0px;
	text-align: center;
}

#options ul li 
{
	margin:0px;
	padding: 20px;
	/*background-color: orange;*/
	margin:10px;
	color:white;

}
section
{
	padding-bottom:10px;
}
#howToB
{
	background-color: #3DB29F;
	box-shadow:3px 3px 0 #2CA18E;
}
#howTo
{
	width:100%;
	
	background-color: #3DB29F;
}
#playComputerB
{
	background-color: #27A6D1;
	box-shadow:3px 3px 0 #1695C0;
}
#playComputer
{
	width:100%;
	
	background-color: #27A6D1;
}
#playFriendB
{
	background-color: #F0C75E;
	box-shadow:3px 3px 0 #E0B64D;
}
#playFriend
{
	width:100%;
	
	background-color: #F0C75E;
}

#options
{
	/*background-color: blue;*/
	position: relative;
	margin:0px;
	padding:0px;
}